*{
   outline: none !important
}

body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.search__block {
   position: relative;
   width: 40px;
   border: 2px solid gray;
   transition: width 1s ease;
  
}
.search__block.active{
   width: 300px;
   
}
.search__block input{
   width: 100%;
   height: 40px;
   padding-left: 10px;
   border: none;
}
.active{
   width: 100%;
   
}
.search__block button{
   position: absolute;
   top: 0;
   right: 0;
   width: 40px;
   height: 40px;
   border: none;
} 
.search__block button:before{
   content: "\f002";
   font-family: FontAwesome;
   font-size: 16px;
   color: black;
   
}
