@media only screen and (max-width : 992px){
   /*------all_style-------*/

 .wrapper{
   max-width: 980px;
   margin: 0 auto;
   padding: 0px 20px;  
   
}
.text_36{
   font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.text_24{
   font-family: 'Roboto', sans-serif;
   font-size: 24px;  
}
.text_18{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;    
}
.text_16{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;    
}
.text_14{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;    
}
.text_12{
   font-family: 'Roboto', sans-serif;
   font-size: 12px;    
}
/* ----------------------------------INDEX INDEX INDEX -------------------------------------------- */

/* ****HEADER**** */
.header__left__block {
   width: 50%;   
}
.header__right__block {
   width: 50%;
}
.header__left__block__logo {
   width: 25%;
}
.header__left__block__search{
   width: 70%;
}
.header__left__block__search form{
   position: relative;
   width: 100%;
   height: 40px;
   border-radius: 5px;
}
.header__left__block__search select {
   display: none;
}
.header__right__block__button {
   width: 200px;
   height: 40px;
   padding-top: 12px;
}
.header__left__block__search input {
   height: 40px;
 }
 .header__left__block__search .one__button {
   width: 40px;
   height: 40px;
 }

.header__right__block__button a{
   padding: 10px 10px 10px 10px;
   background-color: #F6B841;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
}
}

@media only screen and (max-width : 768px){
    /*------all_style-------*/

 .wrapper{
   
   margin: 0 auto;
   padding: 0px 20px;  
   
}
.text_36{
   font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.text_24{
   font-family: 'Roboto', sans-serif;
   font-size: 24px;  
}
.text_18{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;    
}
.text_16{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;    
}
.text_14{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;    
}
.text_12{
   font-family: 'Roboto', sans-serif;
   font-size: 12px;    
}
/* ----------------------------------INDEX INDEX INDEX -------------------------------------------- */

/* ****HEADER**** */
.header__right__block__icon {
   width: 30%;
}
.icon__user__name{
   display: none;
}
}

@media only screen and (max-width : 576px){
   /*------all_style-------*/


.text_36{
  font-family: 'Roboto', sans-serif;
   font-size: 36px;
}
.text_24{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;  
}
.text_18{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;    
}
.text_16{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;    
}
.text_14{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;    
}
.text_12{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;    
}
/* ----------------------------------INDEX INDEX INDEX -------------------------------------------- */

/* ****HEADER**** */
.pl{
   display: none;

}
.header__right__block {
   display: flex;
   justify-content: space-between;
  
}
}
