@media only screen and (max-width : 992px){
   /*------all_style-------*/

 .wrapper{
   max-width: 980px;
   margin: 0 auto;
   padding: 0px 20px;  
   
}
.text_60{
   font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
.text_36{
   font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.text_24{
   font-family: 'Roboto', sans-serif;
   font-size: 24px;  
}
.text_18{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;    
}
.text_16{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;    
}
.text_14{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;    
}
.text_12{
   font-family: 'Roboto', sans-serif;
   font-size: 12px;    
}
/* ----------------------------------INDEX INDEX INDEX -------------------------------------------- */

/* ****HEADER**** */
.header__left__block {
   width: 50%;   
}
.header__right__block {
   width: 50%;
}
.header__left__block__logo {
   width: 25%;
}
.header__left__block__search{
   width: 70%;
}
.header__left__block__search form{
   position: relative;
   width: 100%;
   height: 40px;
   border-radius: 5px;
}
.header__left__block__search select {
   display: none;
}
.header__right__block__button {
   width: 200px;
   height: 40px;
   padding-top: 12px;
}
.header__left__block__search input {
   height: 40px;
 }
 .header__left__block__search .one__button {
   width: 40px;
   height: 40px;
 }

.header__right__block__button a{
   padding: 10px 10px 10px 10px;
   background-color: #F6B841;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
}
/* ****HEADER-BANER**** */
.header__banner__title{
   color: #fff;
   font-weight: bold;
   width: 650px;
   text-align: center;
   margin: 0 auto;
   text-transform: uppercase;
   line-height: 70px;
}
}

@media only screen and (max-width : 768px){
    /*------all_style-------*/

 .wrapper{
   
   margin: 0 auto;
   padding: 0px 20px;  
   
}
.text_60{
   font-family: 'Roboto', sans-serif;
    font-size: 45px;
}
.text_36{
   font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.text_24{
   font-family: 'Roboto', sans-serif;
   font-size: 24px;  
}
.text_18{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;    
}
.text_16{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;    
}
.text_14{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;    
}
.text_12{
   font-family: 'Roboto', sans-serif;
   font-size: 12px;    
}
/* ----------------------------------INDEX INDEX INDEX -------------------------------------------- */

/* ****HEADER**** */
.header__right__block__icon {
   width: 30%;
}
.icon__user__name{
   display: none;
}
/* ****HEADER-BANER**** */
.header__banner__title{
   color: #fff;
   font-weight: bold;
   width:80%;
   text-align: center;
   margin: 0 auto;
   text-transform: uppercase;
   line-height: 70px;
}
}

@media only screen and (max-width : 576px){
   /*------all_style-------*/

.text_60{
      font-family: 'Roboto', sans-serif;
       font-size: 35px;
   }
.text_36{
  font-family: 'Roboto', sans-serif;
   font-size: 36px;
}
.text_24{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;  
}
.text_18{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;    
}
.text_16{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;    
}
.text_14{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;    
}
.text_12{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;    
}
/* ----------------------------------INDEX INDEX INDEX -------------------------------------------- */

/* ****HEADER**** */
.pl{
   display: none;

}
.header__left__block {
   width: 65%;
}
.header__left__block__search form{
   height: 35px;
}
.header__left__block__search input{
   height: 35px;
}
.header__left__block__search .one__button{
   height: 35px;
}
.header__right__block {
   display: flex;
   justify-content: space-between;
   width: 35%;
}
.header__right__block__icon__favorite{
   margin-right: 20px;
   
}
.header__right__block__button {
   text-align: right;
   width: 35px;
   height: 35px;
}
.header__right__block__button a{
   padding: 8px 12px 8px 12px;
}
/*----navigation-----*/

.nav{
   display: none;
   position: absolute;
   top: 95%;
   right: 10%;
   background-color: #fff;  
   border-radius: 5px; 
 }
 /* ****HEADER-BANER**** */
.header__banner__title{
   color: #fff;
   font-weight: bold;
   width:100%;
   text-align: center;
   margin: 0 auto;
   text-transform: uppercase;
   line-height: 50px;
}
}

@media only screen and (max-width : 414px){
   .header__left__block {
      width: 50%;
   }

   .header__left__block__logo{
      width: 70%;
   }
   .header__right__block{
      width: 50%;
   }
   .search__mobile__version{
      align-self: center;
      display: block;
      width: 25px;
   }
   .search__mobile__version img{
      width: 100%;
   }
   .header__left__block__search{
      display: none;
      position: absolute;
      top: 80%;
      left: 0px;
   }
   .header__left__block__search form{
      width: 100%;
   }
   .header__left__block__search .activeForme{
      display:block;     
      width: 100%;
      position: absolute; 
   }
   .header__left__block__search input{
      height: 50px;
      border-radius: 0;
   }
   .header__left__block__search .one__button {
      width: 50px;
      height: 50px;        
      background-color: #ffffff;
      background-image: url(../img/NewItems/findmobileopen.svg);
   }

}