

body{
   background-color: #efedd6;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto', sans-serif ;
   margin: 0;
   overflow-x: hidden;
}

.conteiner {
   display: flex;
   justify-content: center;
   height: 100vh;
   width: 100%;
}

.coonteiner__ps5 {
   background-image: url(../img/ps5.webp);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;   
   width: 50%;
   position: relative;
}
.coonteiner__ps5::before{
   content: '';
   width: 100%;
   height: 100%;
   background-color: rgba(87, 84, 236, 0.7);
   position: absolute;
}



.coonteiner__xbox {
   background-image: url(../img/XboxX.jpg);
   background-position: center;
   background-repeat: no-repeat;   
   background-size: cover;
   display: flex;
   flex-direction: column;   
   width: 50%;
   position: relative;
  
}
.coonteiner__xbox::before{
   content: '';
   width: 100%;
   height: 100%;
   background-color: rgba(43, 43, 43, 0.8);
   position: absolute;
   
}

.coonteiner__ps5, .coonteiner__xbox{
   transition: all 1s ease-in-out;
}
h2{
   font-size: 34px;
   color: white;
   font-weight: bold;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 30%;
   white-space: nowrap;
}
.btn a{
   padding: 10px 30px;
   border: 1px solid white;
   font-size: 14px;
   color: white;
   text-decoration: none;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 45%;
   white-space: nowrap;
}
.ps a:hover{
   background-color:rgba(118,119,239, 1);
   border-color: rgba(118,119,239, 1);
}
.Xbox a:hover{
   background-color:rgba(28, 122, 28, 1);
   border-color: rgba(28, 122, 28, 1);
}

.hover-left .coonteiner__ps5{
   width: 75%;
}

.hover-left .coonteiner__xbox{
   width: 25%;
}

.hover-right .coonteiner__ps5{
   width: 25%;
}

.hover-right .coonteiner__xbox{
   width: 75%;
}