body{
   font-family: 'Roboto', serif;
   background-color: #333;
   color: #222;
   overflow-x: hidden;
   margin: 0;
}

.container{
   background-color: #fafafa;
   transform-origin: top left;
   transition: transform 0.5s linear;
   width: 100vw;
   min-height: 100vh;
   padding-top: 50px;
}

.container.show-nav{
   transform: rotate(-20deg);
}

.circle-container{
   position: fixed;
   top: -100px;
   left: -100px;
}
.circle{
   background-color: #ff7979;
   height: 180px;
   width: 180px;
   border-radius: 50%;
   position: relative;
   transition: transform 0.5s linear;
}

.circle button{
   cursor: pointer;
   position: absolute;
   top:45%;
   left: 50%;
   height: 100px;
   background: transparent;
   border:0;
   font-style: 26px;
   color: white;
}

.circle button:focus{
   outline:none;
}

.circle button#open{
   left: 60%;
   font-size:24px;
   
}
.circle button#close{
   top: 60%;
   font-size:24px;
   transform: rotate(90deg);
   transform-origin: top left;
}


.content{
   width: 80%;
   margin:50px auto;
}
.content img{
   width: 100%;
}

.content h1{
   margin: 0;
}
.contant p {
   color: #333;
   line-height: 1.5;
}