body{
  
   background-color: #333;
   color: #222;
   overflow-x: hidden;
   margin: 0;
}

.container{
   background-color: #fafafa;
   transform-origin: top left;
   transition: transform 0.5s linear;
   width: 100vw;
   min-height: 100vh;
   padding-top: 50px;
}

.container.show-nav{
   transform: rotate(-20deg);
}

.circle-container{
   position: fixed;
   top: -100px;
   left: -100px;
}
.circle{
   background-color: #ff7979;
   height: 180px;
   width: 180px;
   border-radius: 50%;
   position: relative;
   transition: transform 0.5s linear;
}

.container.show-nav .circle{
   transform: rotate(-80deg);
}

.circle button{
   cursor: pointer;
   position: absolute;
   top:45%;
   left: 50%;
   height: 100px;
   background: transparent;
   border:0;
   font-style: 26px;
   color: white;
}

.circle button:focus{
   outline:none;
}

.circle button#open{
   left: 60%;
   font-size:24px;
   
}
.circle button#close{
   top: 60%;
   font-size:24px;
   transform: rotate(90deg);
   transform-origin: top left;
}

.container.container.show-nav + nav li{
   transform: translateX(0);
   transition-delay: 0.3s;
}

nav{
   position: fixed;
   bottom: 40px;
   left: 0;
   z-index: 100;
}
nav ul{
   list-style-type: none;
   padding-left: 30px;
}

nav ul li{
   color: white;
   margin: 40px 0;
   font-size: 14px;
   text-transform: uppercase;
   transform: translateX(-100%);
   transition: transform 0.4 ease-in;
}
nav ul li i{
   font-size: 20px;
   margin-right: 10px;
}

nav ul li + li{
   margin-left: 15px;
   transform: translateX(-150%);

}
nav ul li + li + li{
   margin-left: 30px;
   transform: translateX(-200%);

}


.content{
   width: 80%;
   margin:50px auto;
}
.content img{
   width: 100%;
}

.content h1{
   margin: 0;
}
.contant p {
   color: #333;
   line-height: 1.5;
}